@use "./design-tokens/breakpoints";

body {
  font-size: var(--s-400);
  line-height: var(--lh-regular);
  font-family: var(--ff-sans);
  font-weight: var(--fw-regular);
  color: var(--color-text-primary);
  letter-spacing: -0.02em;
}

strong {
  font-weight: var(--fw-semibold);
}

em {
  font-style: italic;
}

h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4 {
  font-weight: var(--fw-semibold);
  line-height: var(--lh-tight);
  --flow-space: var(--s-900);
}

h1,
.h1 {
  font-size: var(--s-900);
}

h2,
.h2 {
  font-size: var(--s-800);
  line-height: var(--lh-tight);
}

h3,
.h3 {
  font-size: var(--s-700);
}

h4,
.h4 {
  font-size: var(--s-600);
}

h5,
.h5 {
  font-size: var(--s-500);
  --flow-space: var(--s-700);
}
