@use "./design-tokens/generator";

@use "./reset";

@use "./typography";

/* Utilities */
@use "./utilities/flow";
@use "./utilities/wrapper";
@use "./utilities/sr-only";

/* Components */

/* Pages */
@use "./home";

body {
  background-color: var(--color-z0);
}

:focus {
  outline: 2px dashed var(--color-primary);
  outline-offset: 0.25rem;
}

main:focus {
  outline: none;
}
