$color-palette: (
  "water100": hsl(200, 100%, 96%),
  "water200": hsl(200, 81%, 90%),
  "water300": hsl(200, 75%, 83%),
  "water400": hsl(206, 68%, 68%),
  "water500": hsl(209, 68%, 59%),
  "water600": hsl(206, 80%, 43%),
  "water700": hsl(209, 68%, 37%),
  "water800": hsl(209, 70%, 29%),
  "water900": hsl(210, 72%, 23%),
  "grape100": hsl(334, 100%, 96%),
  "grape200": hsl(334, 100%, 90%),
  "grape300": hsl(334, 100%, 68%),
  "grape400": hsl(334, 100%, 60%),
  "grape500": hsl(334, 100%, 52%),
  "grape600": hsl(334, 100%, 44%),
  "grape700": hsl(334, 100%, 36%),
  "grape800": hsl(334, 100%, 24%),
  "mint100": hsl(170, 50%, 95%),
  "mint200": hsl(168, 68%, 90%),
  "mint300": hsl(169, 58%, 83%),
  "mint400": hsl(169, 62%, 73%),
  "mint500": hsl(176, 71%, 49%),
  "mint600": hsl(174, 73%, 44%),
  "mint700": hsl(174, 79%, 36%),
  "mint800": hsl(178, 94%, 27%),
  "mint900": hsl(180, 96%, 19%),
  "leaf50": hsl(114, 45%, 96%),
  "leaf100": hsl(117, 38%, 89%),
  "leaf200": hsl(116, 35%, 75%),
  "leaf300": hsl(116, 32%, 61%),
  "leaf400": hsl(116, 35%, 49%),
  "leaf500": hsl(116, 48%, 41%),
  "leaf600": hsl(116, 46%, 38%),
  "leaf700": hsl(115, 47%, 33%),
  "leaf800": hsl(116, 48%, 29%),
  "leaf900": hsl(116, 52%, 24%),
  "leaf1000": hsl(116, 52%, 12%),
  "lemonade100": hsl(36, 100%, 97%),
  "lemonade200": hsl(37, 100%, 92%),
  "lemonade300": hsl(37, 100%, 92%),
  "lemonade400": hsl(40, 100%, 76%),
  "lemonade500": hsl(42, 100%, 64%),
  "lemonade600": hsl(43, 91%, 52%),
  "lemonade700": hsl(43, 85%, 44%),
  "lemonade800": hsl(43, 85%, 36%),
  "lemonade900": hsl(43, 85%, 21%),
  "berry100": hsl(0, 100%, 98%),
  "berry200": hsl(0, 100%, 93%),
  "berry300": hsl(0, 100%, 88%),
  "berry400": hsl(0, 87%, 76%),
  "berry500": hsl(0, 83%, 61%),
  "berry600": hsl(0, 57%, 51%),
  "berry700": hsl(0, 55%, 45%),
  "berry800": hsl(0, 55%, 39%),
  "berry900": hsl(355, 53%, 29%),
  "berry1000": hsl(355, 53%, 19%),
  "salt100": hsl(0, 0%, 100%),
  "salt150": hsl(0, 0%, 97%),
  "salt200": hsl(240, 25%, 96%),
  "salt300": hsl(240, 23%, 92%),
  "salt400": hsl(236, 21%, 87%),
  "salt500": hsl(237, 16%, 80%),
  "salt600": hsl(240, 10%, 72%),
  "salt700": hsl(240, 7%, 64%),
  "salt800": hsl(240, 5%, 56%),
  "salt900": hsl(240, 4%, 40%),
  "salt1000": hsl(240, 4%, 40%),
  "salt1100": hsl(240, 4%, 16%),
  "salt1200": hsl(240, 5%, 12%),
  "salt1300": hsl(0, 0%, 0%),
);

$themes: (
  default: (
    "primary": map-get($color-palette, "grape500"),
    "grey7": map-get($color-palette, "salt700"),
    "grey6": map-get($color-palette, "salt600"),
    "grey5": map-get($color-palette, "salt500"),
    "grey4": map-get($color-palette, "salt400"),
    "grey3": map-get($color-palette, "salt300"),
    "grey2": map-get($color-palette, "salt200"),
    "grey": map-get($color-palette, "salt100"),
    "text-primary": map-get($color-palette, "salt1100"),
    "text-secondary": hsla(230, 3%, 30%, 60%),
    "text-tertiary": hsla(230, 3%, 34%, 30%),
    "z0": map-get($color-palette, "salt150"),
    "z1": map-get($color-palette, "salt300"),
    "border-primary": map-get($color-palette, "salt400"),
    "negative-text-primary": map-get($color-palette, "berry800"),
    "negative-text-secondary": map-get($color-palette, "berry700"),
    "negative-bg": map-get($color-palette, "berry300"),
  ),
  dark: (
    // "text-primary": map-get($color-palette, "salt100")
  ),
);
