/* @link https://utopia.fyi/type/calculator?c=320,20,1.2,1240,22,1.25,9,3,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,NaN */

:root {
  --step--3: clamp(0.72rem, calc(0.72rem + 0.03vw), 0.77rem);
  --step--2: clamp(0.87rem, calc(0.85rem + 0.07vw), 0.96rem);
  --step--1: clamp(1.04rem, calc(1.02rem + 0.12vw), 1.2rem);
  --step-0: clamp(1.25rem, calc(1.21rem + 0.18vw), 1.5rem);
  --step-1: clamp(1.5rem, calc(1.44rem + 0.28vw), 1.88rem);
  --step-2: clamp(1.8rem, calc(1.72rem + 0.4vw), 2.34rem);
  --step-3: clamp(2.16rem, calc(2.05rem + 0.57vw), 2.93rem);
  --step-4: clamp(2.59rem, calc(2.43rem + 0.79vw), 3.66rem);
  --step-5: clamp(3.11rem, calc(2.9rem + 1.08vw), 4.58rem);
  --step-6: clamp(3.73rem, calc(3.44rem + 1.46vw), 5.72rem);
  --step-7: clamp(4.48rem, calc(4.09rem + 1.96vw), 7.15rem);
  --step-8: clamp(5.38rem, calc(4.85rem + 2.62vw), 8.94rem);
  --step-9: clamp(6.45rem, calc(5.76rem + 3.47vw), 11.18rem);
}

// :root {
//   --step--3: clamp(0.72rem, calc(0.7rem + 0.1vw), 0.83rem);
//   --step--2: clamp(0.87rem, calc(0.84rem + 0.16vw), 1.04rem);
//   --step--1: clamp(1.04rem, calc(0.99rem + 0.25vw), 1.3rem);
//   --step-0: clamp(1.25rem, calc(1.18rem + 0.36vw), 1.63rem);
//   --step-1: clamp(1.5rem, calc(1.4rem + 0.51vw), 2.03rem);
//   --step-2: clamp(1.8rem, calc(1.66rem + 0.7vw), 2.54rem);
//   --step-3: clamp(2.16rem, calc(1.97rem + 0.97vw), 3.17rem);
//   --step-4: clamp(2.59rem, calc(2.33rem + 1.31vw), 3.97rem);
//   --step-5: clamp(3.11rem, calc(2.76rem + 1.76vw), 4.96rem);
//   --step-6: clamp(3.73rem, calc(3.26rem + 2.35vw), 6.2rem);
//   --step-7: clamp(4.48rem, calc(3.86rem + 3.11vw), 7.75rem);
//   --step-8: clamp(5.38rem, calc(4.55rem + 4.11vw), 9.69rem);
//   --step-9: clamp(6.45rem, calc(5.37rem + 5.39vw), 12.11rem);
// }
